In [2]:
# import used libraries
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import copy

In [ ]:
# feature scalling (standardization)
def featureScalling (X):
  scaler = StandardScaler()
  return scaler.fit_transform(X)

In [ ]:
# calculating the cost
def cost(coff, X, Y):
  coffx = copy.deepcopy(coff)
  xx = copy.deepcopy(X)
  yx = copy.deepcopy(Y)
  if(isinstance(coffx, pd.DataFrame)):
    coffx = coffx.to_numpy()
  if(isinstance(xx, pd.DataFrame)):
    xx = xx.to_numpy()
  if(isinstance(yx, pd.DataFrame)):
    yx = yx.to_numpy()
  part1 = np.matmul(xx, coffx) # x*coff
  part2 = np.subtract(part1, yx) # X*coff - y
  part3 = np.transpose(part2) # transpose of x * coff - y
  result = np.matmul(part3, part2)
  return result.sum()

In [ ]:
# calculatin R-square
def rsquare(X, Y):
  xx = copy.deepcopy(X)
  yx = copy.deepcopy(Y)
  j, coff = gradientAlgo(xx, yx)
  if(isinstance(yx, pd.DataFrame)):
    yx = yx.to_numpy()
  mean = yx.sum()
  mean = mean / yx.size
  sst = 0
  for i in range(0, yx.size):
    sst = sst + pow((yx[i][0] - mean), 2)
  result = (sst - j)/sst
  return result

In [ ]:
# load the boston dataset
boston_data = load_boston()
df_boston = pd.DataFrame(boston_data.data,columns=boston_data.feature_names)
df_boston['target'] = pd.Series(boston_data.target)
df_boston.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [ ]:
# printing the featueres 
X = df_boston.drop('target',axis = 1)
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [ ]:
# displaying the output to be prediected thorug the dataset
dtarget = df_boston['target']
target = pd.DataFrame(dtarget)
target

     target
0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
..      ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9

[506 rows x 1 columns]

In [ ]:
# applying the model
def gradientAlgo(X, Y):
  xx = X.copy(deep=True)
  yx = Y.copy(deep=True)
  xx = featureScalling(xx)
  xx = pd.DataFrame(xx)
  xx.insert(0,'ones',1)
  xx = xx.to_numpy()
  row_x, col_x = xx.shape
  coff = np.ones((col_x, 1))
  if(isinstance(yx, pd.DataFrame)):
    yx = yx.to_numpy()
  while True:
    part1 = np.matmul(xx, coff)
    part2 = np.subtract(part1, yx)
    part3 = np.matmul(np.matrix.transpose(xx), part2)
    coff = np.subtract(coff, 0.0002*part3)
    if(abs(part3.sum()) < 0.002):
      break
  j = cost(coff, xx, yx)
  return j, coff

In [ ]:
# test the model
test, coff = gradientAlgo(X, target)
print(test)
print(coff)
print(rsquare(X, target))

11078.784593778324
[[ 2.25328063e+01]
 [-9.28113819e-01]
 [ 1.08151185e+00]
 [ 1.40723815e-01]
 [ 6.81764931e-01]
 [-2.05668765e+00]
 [ 2.67426214e+00]
 [ 1.94390203e-02]
 [-3.10405710e+00]
 [ 2.66177312e+00]
 [-2.07627629e+00]
 [-2.06059024e+00]
 [ 8.49265286e-01]
 [-3.74360998e+00]]
0.7406426637389808

In [ ]:
# step forward feature selection
def stepForward(X, Y, tol):
  xx = copy.deepcopy(X)
  yx = copy.deepcopy(Y)
  col_names = xx.columns
  x_columns = []
  for i in range(0, len(col_names)):
    x_columns.append(pd.DataFrame(xx[col_names[i]]))
  result = pd.DataFrame()
  max_index = -1
  max_r = -1
  flag = True
  while len(x_columns) != 0 :
    for i in range(0, len(x_columns)):
      curr_data = pd.concat([result, x_columns[i]], axis=1)
      curr_r = rsquare(curr_data, yx)
      if(curr_r > max_r):
        max_r = curr_r
        max_index = i
    if flag:
      result = pd.concat([result, x_columns.pop(max_index)], axis=1)
      flag = False
    else :
      rr = rsquare(result, yx)
      if abs(rr-max_r) < tol :
        break
      else :
        result = pd.concat([result, x_columns.pop(max_index)], axis=1)
        max_index = -1
        max_r = -1
  return result

In [ ]:
# step backward feature selection
def stepBackward(X, Y, tol):
  xx = copy.deepcopy(X)
  yx = copy.deepcopy(Y)
  col_names = xx.columns
  col_names = col_names.tolist()
 # print(col_names)
  max_index = -1
  max_r = -1
  flag = True
  while len(col_names) != 0 :
    for i in range(0, len(col_names)):
      curr_data = xx.drop(col_names[i], axis=1)
      curr_r = rsquare(curr_data, yx)
      if(curr_r > max_r):
        max_r = curr_r
        max_index = i
    rr = rsquare(xx, yx)
    if abs(rr - max_r) < tol :
      xx = xx.drop(col_names.pop(max_index), axis=1)
      max_index = -1
      max_r = -1
    else :
      break
  return xx

In [ ]:
# test the step-forwarding featurs selection with tolerance of 0.01 in R square 
test = stepForward(X, target, 0.01)
test

     LSTAT     RM  PTRATIO     DIS    NOX
0     4.98  6.575     15.3  4.0900  0.538
1     9.14  6.421     17.8  4.9671  0.469
2     4.03  7.185     17.8  4.9671  0.469
3     2.94  6.998     18.7  6.0622  0.458
4     5.33  7.147     18.7  6.0622  0.458
..     ...    ...      ...     ...    ...
501   9.67  6.593     21.0  2.4786  0.573
502   9.08  6.120     21.0  2.2875  0.573
503   5.64  6.976     21.0  2.1675  0.573
504   6.48  6.794     21.0  2.3889  0.573
505   7.88  6.030     21.0  2.5050  0.573

[506 rows x 5 columns]

In [ ]:
# displaying the cost, coffectionts, and the R square after applaying the step forward features selection
j , coff = gradientAlgo(test, target)
r = rsquare(test, target)
print('the error in the results after applying the feature selection')
print(j)
print('the value of R square after applying feature selection')
print(r)
print('the coffection of the selected features')
coff

the error in the results after applying the feature selection
12469.344150828363
the value of R square after applying feature selection
0.7080892893524675
the coffection of the selected features

array([[22.53280632],
       [-4.14545423],
       [ 2.92231936],
       [-2.26180351],
       [-2.49208035],
       [-2.08332871]])

In [ ]:
# applaying the step backward feature selection
test = stepBackward(X, target, 0.01)
print('the dataset after applying feature selection')
test

the dataset after applying feature selection

       NOX     RM     DIS  PTRATIO  LSTAT
0    0.538  6.575  4.0900     15.3   4.98
1    0.469  6.421  4.9671     17.8   9.14
2    0.469  7.185  4.9671     17.8   4.03
3    0.458  6.998  6.0622     18.7   2.94
4    0.458  7.147  6.0622     18.7   5.33
..     ...    ...     ...      ...    ...
501  0.573  6.593  2.4786     21.0   9.67
502  0.573  6.120  2.2875     21.0   9.08
503  0.573  6.976  2.1675     21.0   5.64
504  0.573  6.794  2.3889     21.0   6.48
505  0.573  6.030  2.5050     21.0   7.88

[506 rows x 5 columns]

In [ ]:
# displaying the cost, coffectionts, and the R square after applaying the step forward features selection
j , coff = gradientAlgo(test, target)
r = rsquare(test, target)
print('the error in the results after applying the feature selection')
print(j)
print('the value of R square after applying feature selection')
print(r)
print('the coffection of the selected features')
coff

the error in the results after applying the feature selection
12469.344150828363
the value of R square after applying feature selection
0.7080892893524675
the coffection of the selected features

array([[22.53280632],
       [-2.08332871],
       [ 2.92231936],
       [-2.49208035],
       [-2.26180351],
       [-4.14545423]])

## Implementation using normal equation

In [3]:
boston_data = load_boston()
df_boston = pd.DataFrame(boston_data.data,columns=boston_data.feature_names)
df_boston['target'] = pd.Series(boston_data.target)
df_boston.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
X = df_boston.drop('target',axis = 1)
X.head()
X.insert(0,'ones',1)
target = df_boston['target']
target
X.head()

,ones,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,1,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,1,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,1,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,1,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
def cost(coff, X, Y):
  result =  (X.dot(coff) - Y).T.dot((X.dot(coff) - Y))
  return result

In [5]:
Xt = X.T
Xt
X_inv = pd.DataFrame(np.linalg.pinv(X.values), X.columns, X.index)
X_inv
part1 = Xt.dot(X)
part1 = pd.DataFrame(np.linalg.pinv(part1.values), part1.columns, part1.index)
part2 = Xt.dot(target)
output = part1.dot(part2)
output

ones       36.459488
CRIM       -0.108011
ZN          0.046420
INDUS       0.020559
CHAS        2.686734
NOX       -17.766611
RM          3.809865
AGE         0.000692
DIS        -1.475567
RAD         0.306049
TAX        -0.012335
PTRATIO    -0.952747
B           0.009312
LSTAT      -0.524758
dtype: float64

## calcuation the results using the predefind SKLearn library model 
### comparing the cost in case of my implementation and the cost obtained from SKLearn library, they almost the same

In [7]:
LR = LinearRegression()
LR.fit(X,target)
print(LR.intercept_)
print(LR.coef_)
print(LR.score)
cost(output, X, target)

36.4594883850901
[ 0.00000000e+00 -1.08011358e-01  4.64204584e-02  2.05586264e-02
  2.68673382e+00 -1.77666112e+01  3.80986521e+00  6.92224640e-04
 -1.47556685e+00  3.06049479e-01 -1.23345939e-02 -9.52747232e-01
  9.31168327e-03 -5.24758378e-01]
<bound method RegressorMixin.score of LinearRegression()>

11078.784577954979

## implementation of logistic regression using the maximum likelihood apprach

In [8]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from imblearn.under_sampling import RandomUnderSampler
import copy
import math
from sklearn.linear_model import LogisticRegression

In [9]:
# feature scalling (standardization)
def featureScalling (X):
  scaler = StandardScaler()
  return scaler.fit_transform(X)

In [10]:
# balancing the data
def balance (x, y):
  rus = RandomUnderSampler()
  x_res, y_res = rus.fit_sample(x, y)
  return x_res, y_res

In [12]:
# reading and handling the dataset
df = pd.read_csv('yeast.csv')
array = df.to_numpy()
df = pd.DataFrame(array)
yeast = df[0].str.split('  ', expand = True)
yeast.drop([0,10], axis = 1, inplace = True)
yeast

         1     2     3     4     5     6     7     8    9
0     0.43  0.67  0.48  0.27  0.50  0.00  0.53  0.22  MIT
1     0.64  0.62  0.49  0.15  0.50  0.00  0.53  0.22  MIT
2     0.58  0.44  0.57  0.13  0.50  0.00  0.54  0.22  NUC
3     0.42  0.44  0.48  0.54  0.50  0.00  0.48  0.22  MIT
4     0.51  0.40  0.56  0.17  0.50  0.50  0.49  0.22  CYT
...    ...   ...   ...   ...   ...   ...   ...   ...  ...
1478  0.81  0.62  0.43  0.17  0.50  0.00  0.53  0.22  ME2
1479  0.47  0.43  0.61  0.40  0.50  0.00  0.48  0.47  NUC
1480  0.67  0.57  0.36  0.19  0.50  0.00  0.56  0.22  ME2
1481  0.43  0.40  0.60  0.16  0.50  0.00  0.53  0.39  NUC
1482  0.65  0.54  0.54  0.13  0.50  0.00  0.53  0.22  CYT

[1483 rows x 9 columns]

In [13]:
#extracting the I.V and the D.V
X = yeast.drop([9], axis = 1)
dy = yeast[9]
Y = pd.DataFrame(dy)
Y = pd.DataFrame(Y.to_numpy())
for i in range(1, 9):
  X[i] = pd.to_numeric(X[i])

In [14]:
# display the I.V
print(X.dtypes)
X.fillna(0,inplace=True)
X.isnull().sum()
# X.insert(0,'ones',1)
X

1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
dtype: object

         1     2     3     4    5    6     7     8
0     0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22
1     0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22
2     0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22
3     0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22
4     0.51  0.40  0.56  0.17  0.5  0.5  0.49  0.22
...    ...   ...   ...   ...  ...  ...   ...   ...
1478  0.81  0.62  0.43  0.17  0.5  0.0  0.53  0.22
1479  0.47  0.43  0.61  0.40  0.5  0.0  0.48  0.47
1480  0.67  0.57  0.36  0.19  0.5  0.0  0.56  0.22
1481  0.43  0.40  0.60  0.16  0.5  0.0  0.53  0.39
1482  0.65  0.54  0.54  0.13  0.5  0.0  0.53  0.22

[1483 rows x 8 columns]

In [15]:
# display the D.V
Y

        0
0     MIT
1     MIT
2     NUC
3     MIT
4     CYT
...   ...
1478  ME2
1479  NUC
1480  ME2
1481  NUC
1482  CYT

[1483 rows x 1 columns]

In [16]:
# calculating the predicted values
def predected (coff, x):
  if(isinstance(coff, pd.DataFrame)):
    coff = coff.to_numpy()
  if(isinstance(x, pd.DataFrame)):
    x = x.to_numpy()
  exponent = np.matmul(x, coff)
  exponent_row, exponent_col = exponent.shape
  for i in range(0,exponent_row):
    exponent[i][0] = 1/(1 + np.exp(-1*exponent[i][0]))
  return exponent

In [17]:
# calculating the cost
def cost (coff, x, y):
  hx = predected(coff, x)
  result = 0
  row, col = y.shape
  for i in range(0, row):
    result = result - y[i][0]*np.log(hx[i][0]) - (1 - y[i][0])*np.log(1 - hx[i][0])
  return result

In [18]:
def logisticAlgo(X, Y):
  classes = Y[0].unique()
  rcoff = pd.DataFrame()
  rcost = np.empty(10)
  for i in range(0,10):
    j, coff = helpLogisticAlgo(X, Y, classes[i])
    rcoff[classes[i]] = coff.flatten()
    rcost[i] = j
  return rcoff, rcost

def helpLogisticAlgo(X, Y, cls):
  row, col = Y.shape
  handledY = copy.deepcopy(Y)
  handledY = handledY.to_numpy()
  for m in range (0,1483):
    if handledY[m][0] == cls:
      handledY[m][0] = 1
    else :
      handledY[m][0] = 0
  Y_balance = handledY
  X_balance = X.copy(deep=True)
  X_balance = pd.DataFrame(X_balance)
  X_balance.insert(0, 'ones', 1)
  row_x, col_x = X_balance.shape
  coff = np.ones((col_x,1))
  if isinstance(X_balance, pd.DataFrame):
    X_balance = X_balance.to_numpy()
  if isinstance(Y_balance, pd.DataFrame):
    Y_balance = Y_balance.to_numpy()
  X_balanceT = np.matrix.transpose(X_balance)
  for k in range(0,100) :
    part1 = predected(coff, X_balance)
    part2 = np.subtract(part1, Y_balance)
    part3 = np.matmul(X_balanceT, part2)
    coff = np.subtract(coff, 0.002*part3)
    if abs(part3[0][0]) < 0.02:
      break
  j = cost(coff, X_balance, Y_balance)
  return j, coff

In [19]:
# to predect new test
def newtest(x):
  x_array = x.copy(deep = True)
  if(isinstance(x_array, pd.DataFrame)):
    x_array = x_array.to_numpy()
  coff, j = logisticAlgo(X, Y)
  coff_array = coff.copy(deep = True)
  coff_array = coff_array.to_numpy()
  classes = Y[0].unique()
  output = np.matmul(x_array, coff_array)
  print(output)
  output = output.flatten()
  for i in range(0, len(output)):
    output[i] = 1 / (1 + np.exp(-1 * output[i]))
  print(output)
  index = np.argmax(output)
  return classes[index]

In [20]:
coff, j = logisticAlgo(X, Y)
print(type(coff))
print(j)
coff

<class 'pandas.core.frame.DataFrame'>
[537.21141287 780.17347405 845.00944869 159.66745832 153.2232288
 200.77455069 423.62778113 146.95595825  86.81163149  37.72064674]

,MIT,NUC,CYT,ME1,EXC,ME2,ME3,VAC,POX,ERL
0,-2.386791,-0.83239,-0.706381,-2.942923,-2.798726,-2.605308,-0.235354,-2.380031,-2.557968,-3.22155
1,0.083627,-1.368635,-0.433119,1.447907,0.757641,1.387538,-1.383736,-0.290449,-0.579522,-0.757653
2,0.508993,-1.385156,-1.392284,1.153305,0.598586,0.191595,0.175103,-0.461242,-0.677701,-0.801155
3,0.115579,1.447072,2.653066,-1.948638,-0.904336,-1.577671,-3.625665,-0.871457,-0.735434,-1.118025
4,4.5328,-1.048709,-1.697244,0.32417,0.171385,0.202401,-0.702192,-0.243908,-0.000434,-0.034084
5,-0.819331,0.080852,0.161989,-1.004496,-0.924194,-0.740016,0.362721,-0.710821,-0.790311,-0.624001
6,0.628852,0.263996,0.042362,0.799378,0.824228,0.782607,0.505771,0.84675,2.504059,0.922189
7,-0.246689,-0.035733,0.292367,-0.809194,-1.152246,-0.647175,0.756461,-0.492958,-0.71243,-1.037579
8,-1.365746,2.757208,-1.143507,-0.155892,-0.394217,-0.304246,0.278415,-0.107694,-0.168991,-0.206781

In [21]:
# step forward feature selection
def stepForward(X, Y):
  classes = Y[0].unique()
  frames = []
  for i in range(0, 10):
    xx = copy.deepcopy(X)
    yx = copy.deepcopy(Y)
    col_names = xx.columns
    x_columns = []
    for k in range(0, len(col_names)):
      x_columns.append(pd.DataFrame(xx[col_names[k]]))
    result = pd.DataFrame()
    min_index = -1
    min_cost = math.inf
    flag = True
    while len(x_columns) != 0 :
      for j in range(0, len(x_columns)):
        curr_data = pd.concat([result, x_columns[j]], axis=1)
        curr_cost, coff = helpLogisticAlgo(curr_data, yx, classes[i])
        if(curr_cost < min_cost):
          min_cost = curr_cost
          min_index = j
      if flag:
        result = pd.concat([result, x_columns.pop(min_index)], axis=1)
        flag = False
      else :
        r_cost, coff = helpLogisticAlgo(result, yx, classes[i])
        if abs(r_cost - min_cost) < 0.01*(r_cost) :
          break
        else :
          result = pd.concat([result, x_columns.pop(min_index)], axis=1)
          min_index = -1
          min_cost = math.inf
    frames.append(result)
  final = pd.DataFrame()
  print('out')
  for i in range(0, 10):
    names = frames[i].columns.tolist()
    temp = pd.DataFrame()
    temp[classes[i]] = names
    final = pd.concat([final, temp], axis=1)
  return final

In [22]:
test = stepForward(X, Y)
test

out

   MIT  NUC  CYT  ME1  EXC  ME2  ME3  VAC  POX  ERL
0  4.0  8.0    3    1    1  1.0  3.0  3.0  6.0  3.0
1  8.0  2.0    4    3    7  3.0  1.0  NaN  NaN  NaN
2  NaN  3.0    8    2    2  NaN  7.0  NaN  NaN  NaN
3  NaN  NaN    2    5    5  NaN  NaN  NaN  NaN  NaN

In [23]:
# step backward feature selection
def stepBackward(X, Y):
  classes = Y[0].unique()
  frames = []
  for i in range(0, 10):
    xx = copy.deepcopy(X)
    yx = copy.deepcopy(Y)
    col_names = xx.columns
    col_names = col_names.tolist()
  # print(col_names)
  # x_columns = []
  # for i in range(0, len(col_names)):
  #   x_columns.append(pd.DataFrame(xx[col_names[i]]))
  # result = pd.DataFrame()
    min_index = -1
    min_cost = math.inf
  # flag = True
    while len(col_names) != 0 :
      for j in range(0, len(col_names)):
        curr_data = xx.drop(col_names[j], axis=1)
        curr_cost = helpLogisticAlgo(curr_data, yx, classes[i])[0]
        if(curr_cost < min_cost):
          min_cost = curr_cost
          min_index = j
      r_cost = helpLogisticAlgo(xx, yx, classes[i])[0]
      if min_cost - r_cost < 0.01*r_cost :
        xx = xx.drop(col_names.pop(min_index), axis=1)
        min_index = -1
        min_cost = math.inf
      else :
        break
    frames.append(xx)
  final = pd.DataFrame()
  print('out')
  for i in range(0, 10):
    names = frames[i].columns.tolist()
    temp = pd.DataFrame()
    temp[classes[i]] = names
    final = pd.concat([final, temp], axis=1)
  return final

In [24]:
test = stepBackward(X, Y)
test

out

   MIT  NUC  CYT  ME1  EXC  ME2  ME3  VAC  POX  ERL
0  4.0  2.0    2    1    1  1.0  1.0  NaN  6.0  3.0
1  8.0  4.0    3    2    2  3.0  3.0  NaN  NaN  NaN
2  NaN  8.0    4    3    5  NaN  7.0  NaN  NaN  NaN
3  NaN  NaN    8    5    7  NaN  NaN  NaN  NaN  NaN